.h1 {
    color :#fff;
    size : 6rem;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.formGroup {
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.inputField {
    width: 100%;
    color: black;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton {
    background-color: #0070f3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}